{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
  <!--<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  <title>Enter info</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Personal Info</p>
    <form class="form1"  method = "POST">
     {% csrf_token %}
      <input type="hidden" name = "CHITNumber" value="0000">
      <input class="un " type="text" name = "gender"align="center" placeholder="Gender"> 
      <!--
        <select class="un" align="center" id="id_gender" name="gender" form="raceForm">
          <option align="center" value="" disabled selected hidden>Choose Gender</option>
          <option value="male" name ="gender" type="text" align="center">Male</option>
          <option value="female" selected name ="gender" type="text" align="center">Female</option>
        </select>
        -->
      <input class="un " type="text" name = "address"align="center" placeholder="address">
      <input class="un " type="text" name = "race"align="center" placeholder="race">
    <!--
      <select class="un" align="center" id="cars" name="race" form="raceForm">
          <option align="center" value="" disabled selected hidden>Select Race</option>
          <option value="Black" name="race" type="text" align="center">Black</option>
          <option value="White" name="race" type="text" align="center">White</option>
          <option value="Asian" name="race" type="text" align="center">Asian</option>
          <option value="Other" name="race" type="text" align="center">Other</option>
        </select>
          -->
      <input type = "hidden" name ="person" value="{{ personID }}">
      <input type = "submit" class="submit" align="center">
      </form>
            
                
    </div>
     
</body>

</html>